@import "./../../Variables/Variables.scss";

.product-in-cart {
  background-color: none;

  .cart-container {
    width: 81%;
    margin: 0 auto;

    .title {
      text-transform: capitalize;
      padding: 1rem 0;
    }

    .cart-description {
      display: flex;
      height: 27vh;
      width: 100%;
      flex-direction: row;
      justify-content: space-between;
      border-top: 1px solid rgb(196, 195, 195);
      padding: 10px 0;

      .cart-desc-belt {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        justify-content: space-between;
        padding-bottom: 2rem;

        #product-name {
          text-transform: capitalize;
          margin-bottom: 6px;
          color: $black-color;
        }

        #product-type {
          text-transform: capitalize;
          font-weight: lighter;
          color: $black-color;
          font-weight: bold;
        }

        .cart-size {
          display: flex;

          .btn-value {
            padding: 5px 13px;
            background-color: transparent;
            border: none;
            outline: 1px solid $gray-color;
            margin: 8px 8px 0px 0px;
          }
        }
      }

      .cart-mini-imag {
        display: flex;
        flex-direction: row;

        .cart-mini-add {
          display: flex;
          flex-direction: column;
          align-items: center;

          button {
            width: 60px;
            height: 60px;
            border: 1px solid grey;
            margin: 0 1rem;
            font-size: 30px;
            background-color: transparent;
            cursor: pointer;
          }

          .cart-quantity {
            padding: 0.8rem 0;
            font-size: 30px;
          }
        }

        .cart-img img {
          width: 12vw;
          height: 24vh;
        }
      }
    }
    .cart-total {
      border-top: 1px solid rgb(128, 128, 128);
      display: flex;
      width: 100%;
      padding-top: 1rem;
      margin-top: 1rem;
      justify-content: space-between;

      .total-side {
        font-weight: 500;
        font-size: 22px;
      }
    }
  }
}
