@import "./../../Variables/Variables.scss";

.header-nav {
  position: relative;
  display: flex;
  width: 88%;
  margin: 0 auto;

  .nav-bar {
    display: flex;
    height: 100px;
    width: 100%;
    align-items: center;
    justify-content: space-between;

    .link-navbar {
      color: $black-color;
      .link-item {
        position: relative;
        color: $black-color;
        text-decoration: none;
        margin-right: 1.5rem;
        color: $black-color;
      }
    }
    span .fa-shopping-bag {
      color: $green-color;
      font-size: 23px;
      cursor: pointer;
    }
  }

  .nav-right-block {
    display: flex;
    margin-left: 1rem;

    .currency-prod-label {
      font-size: 22px;
      margin: 0 2rem;
      text-decoration: none;

      &:hover,
      &:focus {
        color: $black-color;
      }

      .cur-dropdown {
        display: flex;
        top: 4rem;
        width : 5rem;
        position: absolute;
        z-index: 3;

        &:hover,
        &:focus {
          color: $black-color;
        }

        .cur-submenu {
          background: $white-color;
          font-size: 18px;
          padding: 22px;
          margin-top: 1rem;
          list-style: none;
          box-shadow: 4px 4px 7px 4px rgba(199, 199, 199, 0.5);

          .cur-options {
            justify-content: space-between;
            display: flex;
            width : 5rem;
            color: $black-color;
            margin: 7px;
            padding: 0.5rem 0;

            &:hover,
            &:focus {
              color: $black-color;
            }
          }
        }
      }
    }
  }

  .card-main-container {
    position: fixed;
    top: 70px;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
    background: rgba(56, 56, 56, 0.6);

    .card-container {
      display: flex;
      position: absolute;
      justify-content: space-between;
      z-index: 3;
      width: 450px;
      top: -0.8rem;
      right: 5.5%;
      padding: 10px;
      z-index: 100;
    }

    .emptyCard {
      position: absolute;
      padding: 2rem;
      background-color: $white-color;
      right: -1rem;

      .btn-close-cart {
        background-color: red;
        color: $white-color;
        text-align: right;
        margin: .3rem 0;
        padding: 10px;
        border: none;
      }
    }

    .card-content-container-full {
      width: 100%;
      background-color: $white-color;
      padding: 10px;
      // opacity: 1000;

      .cart-qty-heard {
        margin: 1.5rem 0.8rem;
      }

      .cart-content-container {
        height: auto;

        .car-content {
          width: 100%;
          margin-bottom: 0;
        }
      }
    }
  }

  .car-item {
    margin: 13px;
    position: relative;
    margin-bottom: 35px;
    width: 93%;

    .item-prod-name {
      color: $black-color;
      margin-bottom: 0.7rem;
    }
  }

  .cart-prod-items-show {
    display: flex;
    justify-content: space-between;

    .item-prod-belt-left {
      display: flex;
      flex-direction: column;

      .car-price {
        float: right;
        display: inline;
      }

      .button-prod-cart {
        margin-top: 20px;

        .button-attribute {
          padding: 10px;
          background-color: transparent;
          border: none;
          outline: 1px solid $gray-color;
          margin-right: 8px;
        }
      }
    }

    .item-prod-belt-right {
      display: flex;
      flex-direction: row;

      .button-prod-quantity {
        display: flex;
        flex-direction: column;
        margin-right: 6px;

        .button-quantity {
          padding: 9px;
          border: none;
          font-size: 16px;
          border: 1px solid rgb(134, 134, 134);
        }

        .cart-qty {
          font-size: 16px;
          align-items: center;
          justify-content: center;
          margin: 5px auto;
        }
      }
      .car-img {
        width: 100px;
        height: 106px;
        border: 1px solid $gray-color;
      }
    }
  }
}

.pro-card {
  text-decoration: none;
}

.car-delete-btn {
  position: absolute;
  left: 5.8rem;
  top: 5rem;
  z-index: 3;
}

.item-prod-button {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .car-btn,
  .car-btn-cart {
    display: flex;
    border: 0.5px solid rgb(218, 215, 215);
    text-decoration: none;
    font-size: 16px;
    padding: 10px 5.5rem;
    width: 9rem;
    align-items: center;
    justify-content: center;
  }
}

.car-btn-cart:hover,
.car-btn-cart:focus,
.car-btn:hover,
.car-btn:focus {
  background-color: $green-color;
  color: $white-color;
}

.car-total {
  margin: 0 auto 15px;
  padding: 5px;

  span {
    float: right;
    font-weight: bold;
  }
}

// a {
//   color: $green-color;
// }

// a[class="active"] {
//   border-bottom: 1px solid $green-color !important;
// }

.item-prod-quantity {
  margin-bottom: 1rem;
}

.cart-quantities {
  position: absolute;
  padding: 0.5rem;
  background-color: $black-color;
  top: 1.2rem;
  border-radius: 50%;
  color: $white-color;
  right: -1%;
}
