* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Roboto, sans-serif;
    background-color: rgba(243, 243, 243, 0.4);
    a, a:hover {
        color: #000;
    }

}


